@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@300;400;500&display=swap');

:root{
--primary:#FBD771;
--secondary:#2F3846;
--button: #F5C33A;
}
body{
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif;
}
main{
    margin:1rem auto;
    max-width:600px;
}
header h1{
background-color:var(--secondary);
color:#fff;
margin:0;
padding:2rem;
text-align:center;
font-family:'Pattaya',sans-serif;

}
#transalateButton
{
    background-color:var(--button);
    border:none;
    padding:1rem 3rem;
    border-radius:10px;
    text-align:center;
    font-weight:bold;
    font-size:1.5rem;
    color:var(--secondary);
    margin-top: 2rem;
}
#translatedMessage{
    color:var(--secondary);
    font-size:1.5rem;
}
textarea{
    border:none;
    outline:none;
    border-bottom:2px solid var(--secondary);
    /* width: 100vw; */
    width:100%;
    min-height: 30vh;
}
textarea::placeholder{
    color:var(--secondary);
    font-size:1.5rem;
}
.output-info{
    color:var(--secondary);
    font-size:2rem;
}
.content{
    border-bottom:1px solid var(--secondary);
    min-height: 30vh;
}
footer{
    margin-bottom:0;
    /* background-color:var(--primary); */
    color:var(--secondary);
    text-align:center;
    width:100%;
}
footer p{
    max-width:600px;
    margin:auto;
    padding-bottom:1rem;
}
footer h1{
font-family:'Pattaya',sans-serif;
} 
 .image{
    width:50%;
} 
@media only screen and (max-width: 600px)
{
    .image{
        width:100%;
    }   
}